* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh; /* Ensure the body takes up the full viewport height */
    width: 100%; /* Ensure the body takes up the full viewport width */
    max-width: 100%; /* Remove the max-width restriction */
    background-image: url("images/Raffle Bg copy 2.png");
    background-size: cover; /* Make the background image cover the entire screen */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .wrapper {
    width: 100%;
    max-width: 800px;
    max-height: 1200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
  }
  
  .logobox{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img.Logo{
    padding:10px;
    position: Flex ;
    width: 250px;
    
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
    margin-bottom: 10px;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  #spin-btn {
    position: relative;
    /* transform: translate(-50%, -50%); */
    /* top: ; */
    left: 38%;
    margin: 0;
    /* height: 10%;
    width: 26%; */
    cursor: pointer;
    border: 0;
    background-color:transparent;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
    border-image: radial-gradient(#bd8484, #eec5c5) 1;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  img.arrow {
    position: absolute;
    width: 10em;
    top: 45%;
    right: -8%;
  }
  #final-value {
    border-radius: 10px;
    background-color: #fdcf3b;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #000000;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img.arrow {
      right: -5%;
    }
  }


  /* Styles for Forms */
  body {
    font-family: Arial, sans-serif;
  }
  
#myForm{
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 100%;
  padding: 30px;
  background-color: #102341;
  border-radius: 10px;
  
}

  .form-group {
    margin-bottom: 20px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #2DE8BF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #23af91;
  }


  